<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Typing race</title>

<!-- CSS (load bootstrap and fontawesome from CDNs) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<!-- CSS (load the stylesheet) -->
<link rel="stylesheet" href="/styles/style.css">

<!-- JS (load jQuery from a CDN) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="shortcut icon" type="image/png" href="/images/favicon.ico"/>

<style>
    body{ padding-top:50px; }
</style>
