<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script src = "/socket.io/socket.io.js"></script>

    <script>
    var socket = io();

    function loadDoc() {
      socket.emit('ottoTestChanged');
    }

    socket.on('changeImage', function(data) {
        console.log(data)
        $("#mainImg").attr("src", "data:image/png;base64, "+data);
    })

    </script>

</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>




<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron" id="demo">
            <h1>DYD online</h1>
            <p>This is a choose your own adventure game, make sure to do the right thing</p>
            <img id="mainImg" style = "filter: blur(5px);" src="data:image/png;base64, <%= image  %>"/>
            <button type="button" onclick="loadDoc()">Change Content</button>
        </div>
    </div>


</div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
